@import 'variables.scss';
*{
    box-sizing: border-box;
}
body{
    font-family: $montserrat;
    font-size: $f14;
    color: $black;
    font-weight: $normal;
    background: linear-gradient(180deg, white 0%, white 69%, black 69%, black 86%, white 86%, white 98%, black 95%, black 100%);
    text-decoration: none;
    color: black;
}
.containerM{
    margin: 0 auto;
    width: 1217px;
}
.containerL{
    margin: 0 auto;
    width: 1920px;
}
.containerS{
    margin: 0 auto;
    width: 1045px;
}

@mixin polosa($top) {
    content:"";
    width: 45px;
    height: 3px;
    margin-top: 48;
    position: absolute;
    top: $top;
    left: auto;
    right: auto;
    background-color: #F9C859;
}
a{
    text-decoration: none;
    color:$black
}
    