@media all and (max-width:1000px) and (min-width:200px) {
    .header > a img{
        position: absolute;
        left: 15vw;
        top: 77px;
    }
    .icons {
        position: absolute;
        top: 70px;
        right: 15vw;
    }
    .header {
        position: relative;
    }
}