@import "variables.scss";
@import "default.scss";
@import "animation.scss";

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 12px;
    height: 57px;
    position: relative;
    margin-top: 13px;
        .menu {
            
            font-weight: $medium;
            text-transform: uppercase;
            line-height: 17px;
            font-size: 16px;
            opacity: 0.9;

               &>  ul{
                     margin-bottom: 0;
                    display:flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;

                        li{
                            margin-right: 70px;
                        }
                }
                p {
                    margin-bottom: 0;
                }
           
        }
        .icons {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            img{
                position: relative;
                display: inline-block;
                margin-right: 18px;
            }
            
            &::after{
                content: "3";
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                background-color:$black;
                border-radius: 50%;
                top: -8px;
                right: 6px;
                height: 20px;
                width: 20px;

            }
        }
    
}

.sale{
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    h1 {
        font-size: $f60;
        line-height: 73px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $black;
    }
    a {
        display: inline-block;
        font-family: $inter;
        font-weight: $light;
        font-size: $f14;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: $black;
        margin-top: 15px;
        border-bottom: 1px solid black;
    }
    img {
        display: block;
        margin-top: 27px;
        width: -webkit-fill-available;
    }


}

.novinkiHeader, .akciiHeader, .bestSellersHeader, .joinHeader, .brandsHeader{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    h2{
        font-weight: $medium;
        font-size: $f23;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    
}

.novinki {
    display: flex;
    align-items: center;
    justify-content: space-around;

    div {
        
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        font-family: 'Montserrat';
        
        font-weight:$medium;

        line-height: 175%;
        text-transform: uppercase;
    }
    div:nth-child(1){
        background: url('../img/novinki1.png') no-repeat top 25px center
    }
    div:nth-child(2){
        background: url('../img/novinki2.png') no-repeat top 25px center
    }
    div:nth-child(3){
        background: url('../img/novinki3.png') no-repeat top 25px center
    }
    div:nth-child(4){
        background: url('../img/novinki4.png') no-repeat top 25px center
    }

    
}

.akcii {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            font-weight: $medium;

            line-height: 17px;
            text-transform: uppercase;
            }
        span {
            font-family: $inter;
            font-weight: $light;
            line-height: 140%;
            color: #5A5A5A;
            margin-top: 10px;
            display: block;
        }
        img:last-child{
            scale: 1.5;
        }
    }
}

.bestSellers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
        width: 210px;
        height: 370px;
        display: flex;
        flex-direction: column;
      
        font-weight:$medium;
        line-height: 175%;
        text-transform: uppercase;
    }
    a>div {
        width: 210px;
        height: 370px;
        display: flex;
        flex-direction: column;
        padding-top: 248px;
        font-weight:$medium;
        line-height: 175%;
        text-transform: uppercase;
    }
    a:nth-child(1) div{
        background: url('../img/best1.png') no-repeat top 25px center
    }
    a:nth-child(2) div{
        background: url('../img/best2.png') no-repeat top 25px center
    }
    a:nth-child(3) div{
        background: url('../img/best3.png') no-repeat top 25px center
    }
    a:nth-child(4) div{
        background: url('../img/best4.png') no-repeat top 25px center
    }
}

.join {
    background-color: $black;
    color: $white;
    margin-top: 62px;
    margin-bottom: 60px;

    div:nth-child(2){
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{display: inline-block;}
    }
    i {
        color: $white;
        font-size: 22px;
    }
}
.joinImg {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.joinSocial {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
    i{margin-right: 5px;}
        a{
            color: $white;
        }
}
.brands {
    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        display: inline-block;    
    }
}

.footer {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &>div {
        display: flex;
        align-items: center;
        
        width: 200px;
    }
    &>div:last-child{
        width: 300px;
    }
    ul  li{
        position: relative;
        font-family: $inter;
        font-weight: $light;
        font-size: $f14;
        line-height: 140%;
        color: #5A5A5A;
        margin-bottom: 15px;
    }
    ul li:first-child {
        color: $black;
        font-weight: $medium;
        font-size: $f14;
        line-height: 17px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    input {
        border: none;
    }
    img{
        scale: 0.5;
    }
    label {
        position: absolute;
        top: 2px;
        right: 2px;
    }
}

.footerLine{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $black;
    padding-bottom: 28px;
    color: $white;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: $inter;
    line-height: 17px;

    a{color: $white;}
    i{ 
        color: $white;
        font-size: 30px;
    }
    i:first-child{
        margin-right: 28px;
    }
}


// Product page 
body{background: none;
overflow-x: hidden;}
.path {
margin-top: 150px;
font-family: $inter;
font-weight: $light;
line-height: 17px;
color: #5A5A5A;

    span {
        font-weight: $normal;
    }
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .describtion{
            display: flex;
            flex-direction: column;
            width: 500px;
            height: 600px;
            h3 {
                white-space: wrap;
                font-size: $f37;
                line-height: 45px;
            }
            &>div:nth-child(2) {
                margin-top: 60px;
                display: flex;
                p{
                    display: inline-block;
                    font-weight: $medium;
                    font-size: $f23;
                    line-height: 28px;
                    text-transform: uppercase;
                }
                p:nth-child(2) {
                    text-decoration: line-through;
                    opacity: 0.7;
                    margin-left: 20px;
                }
            }
            div:nth-child(3) {
                margin-top: 40px;
                font-weight: $medium;
                font-size: $f14;
                line-height: 17px;
                text-transform: uppercase;
                display: flex;
                justify-content: flex-start;

                span:first-child {
                    margin-left: 47px;
                }
            }
            & > div:last-of-type {
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                button{
                    background-color: $black;
                    width: 480px;
                    height: 50px;
                    color:$white;
                    border: none;

                    font-weight: $medium;
                    line-height: 17px;
                    text-transform: uppercase;
                    margin-right: 25px;
                }
                i {
                    font-size: 36px;
                    color: #9fbfd9;
                    &:hover, &:target, &:focus, &:active{
                        color: $black;
                    }
                }
            }
        
            & > p:last-of-type{
                display: block;
                margin-top: 60px;
                font-weight:$medium;
                line-height: 17px;
                text-transform: uppercase;
            }
            ul {
                list-style-type: disc;
                font-family: $inter;
                font-weight: $light;
                line-height: 140%;
                color: #5A5A5A;
                margin-top: 20px;

                li{
                    margin-top: 10px;
                }
            }
            }
        
    
} 
.blackHeart {
    color: black!important;
}
.miniatures{
    height: 189px;
    display: flex;
    align-items: center;
    img:nth-child(2) {
        scale: 0.4
    }
}
.reflectWrapper{
    margin-bottom: 140px;
}
.reflectHeader {
    margin-top: 360px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    div:first-child{
        font-style: normal;
        font-weight: $medium;
        font-size: $f23;
        line-height: 28px;
        text-transform: uppercase;
        margin-right: 30px;

        span {
            font-family: $inter;
            font-size: $f14;
            font-weight: $light;
            line-height: 140%;
            color: #5A5A5A;
        }
    }
    div:nth-child(3){
        margin-left: 10px;
        margin-right: 180px;
        font-weight: $semi-bold;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
    }

    div:last-child {
        text-decoration: underline;
        
    }
    

}
.rate {
    display: flex;
    flex-direction: row-reverse;
    .star{
        width: 20px;
        height: 20px;
        background: url('../img/StarE.png');
}
        .star:hover{
            background: url('../img/StarF.png')
}
        .star:hover ~ a{
            background: url('../img/StarF.png')
}

}
.reflect {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    .name {
        font-family: $inter;
        font-weight: $light;
        line-height: 140%;
        color: #5A5A5A;
    }  
    & > div:nth-child(2){
        margin-left: 10px;
        font-weight: $medium;
        line-height: 17px;
        text-transform: uppercase;
        
       .rotate{
            display: flex;

            .rate {
                margin-left: 20px;
            }
        }
    }
    .text{
        font-family: $inter;
        font-weight: $light;
        line-height: 140%;
        color: #5A5A5A;
        white-space: pre-line;
        text-transform: none;
    }
    div:last-child{
        font-family: $inter;
        font-weight: $normal;
        line-height: 17px;
        color: $black;
        text-transform: none;

    }
}


// caral

  .hide{
    display: none;
  }

.dropdown-menu > div .form-check {
    padding-left: 0;
}
button.commonButton {
    width: 200px;
    text-align: left;
    border: none;

}
.form-check > span {
    font-family: $inter;
    font-style: normal;
    font-weight: $light;
    font-size: 14px;
    line-height: 140%;
    color: #5A5A5A;
}
.form-check .form-check-input {
    width: 260px;
    position: absolute;
    float: left;
    margin-left: -1.5em;
    height: 20px;
    opacity: 0;
}
.form-check-input:checked[type=checkbox] + .texto {
    font-weight: 600;
}
.catalogFilter > div.dropdown{
margin-bottom: 27px;
}
button.dropdown-toggle::after {
    position: absolute;
    right: 0;
  width: 19px;
  height: 9px;  
  display: inline-block;
  vertical-align: 0.255em;
  content: " ";
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: url('../img/open.svg') no-repeat;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;
}

ul.dropdown-menu{
    --bs-dropdown-border-color: $white;
    position: static !important;
}
.btn-secondary {
    color: $black;
 --bs-btn-bg: #ffffff;
 border: none;
}
.btn:hover , .btn:active, .btn:focus{
background-color: #fff;
}


.catalogItem{
    display: flex;
    flex-direction: column;
   
    justify-content: center;

    font-weight: $medium;
    font-size: $f14;
    line-height: 17px;
    text-transform: uppercase;

        img{
            align-self: center;
        }
        span{
            margin-top: 10px;
        }
        a{
            display: flex;
            flex-direction: column;
        }
}
.viewMore{
    width: inherit;
    color: white;
    border: none;
    background-color: black;
    margin-top: 100px;
    height: 50px;
}
.brandHeader {
    font-size: $f60;
    margin-top: 70px;
}
.filterHeader{
    margin-top: 70px;
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
        display: flex;
        align-items: center;

        i{
            color:#5A5A5A;
            font-size: $f14;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

}

.pages{
    position: relative;
    margin-top: 41px;
    display: flex;
    justify-content: center;
    &>span:first-child, &>span:last-child{
        font-weight: $medium;
        line-height: 17px;
        text-transform: uppercase;
    }

    &>div {
        margin-left: 40px;
        margin-right: 40px;
        a {
            margin-right: 10px;
            
            span{
            border-bottom: 1px solid $black;
        }
    }
    }

    &::after {
        content: " ";
        height: 10px;
        width: 20px;
        background: url(../img/open.svg) no-repeat;
        display: inline-block;
        rotate: 270deg;
        position: absolute;
        top: 2px;
        right: 2px;
    }
    &::before {
        content: " ";
        height: 10px;
        width: 20px;
        background: url(../img/open.svg) no-repeat;
        display: inline-block;
        rotate: 90deg;
        position: absolute;
        top: 5px;
        left: 2px;
    }
}

// buttons menu 

.btn-primary {
    &:active, &focus, &hover{
        color: black;
        background-color: #fff;
    }
    COLOR: BLACK;
    background-color: WHITE;
    BORDER: NONE;
    WIDTH: AUTO;
    HEIGHT: AUTO;
}
.btn:focus, .btn:hover, .btn:active {
    box-shadow: none;
    border-bottom: 1px solid $black;
    color: black;
        background-color: #fff;
}
.btn:hover{
    color: $black;
}

.card{
    position: absolute;
    width: 100vw;
    top: 100px;
    left: 2px;
    z-index: 10;
    margin: 0 auto;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    --bs-card-border-color: #fff;
    
}
.catalogCollapse {
    display: flex;
    flex-wrap: wrap;
        ul {
            margin-right: 50px;
        }

    & ul li, & ul li a {
        margin-top: 20px;
        text-transform: none;
        font-family: $inter;
font-weight: $light;
font-size: 14px;
line-height: 140%;
color:$black

    }
    & ul li:first-child a{
        color:#C8102E;
        margin-bottom: 40px;
    }
    & ul:last-child li:first-child {
        margin-top: 59px;
        margin-bottom: 0;
        color: $black
        a{color: $black;}
    }
    
}

.BrandsCollapse {
    display: flex;
    margin-bottom: 70px;
    flex-wrap: wrap;
    ul {
        margin-right: 33px;
        width: 232px;
        margin-top: 20px;
    }
    ul:last-child {
        margin-right: 0;
    }
    & ul li {
        margin-bottom: 10px;
        font-family: $inter;
        font-weight: $light;
        font-size: 14px;
        line-height: 140%;
    }
    & ul li:first-child {
        margin-bottom: 20px;
        font-size:$f23 ;
    }
}

div.fio > div {
    font-weight: 400;
    font-size: 37px;
    line-height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 128px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}
div.profileFrame{
    position: absolute;
    width: 38vw;
    top: 329px;
    right: 0px;
}


   
.cardImg{
        width: 400px;
        height: 250px;
        border: 1px solid $black;
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 40px;
    
            P:first-child{
                font-family: $inter;
                font-weight: $light;
                font-size: $f14;
                line-height: 140%;
                color: #5A5A5A;
            }
            p:nth-child(2) {
                font-weight: $medium;
                font-size: $f23;
                line-height: 28px;
                margin-top: 15px;
            }
            p:last-child {
                font-family: "Inter", "sans-serif";
                font-weight: 300;
                font-size: 14px;
                line-height: 140%;
                color: #5A5A5A;
                bottom: 0px;
                display: block;
                left: 30px;
                text-align: end;
                margin-top: 100px;
            }
}
            

.profileMenu{

    font-weight: $medium;
    line-height: 17px;
    text-transform: uppercase;
    color: #5A5A5A;

        li {
            margin-bottom: 30px;
        }
        li:hover {
            text-decoration: underline;
        }
}
div.bonusCard{
    font-family: $inter;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 27px;

   
}
.bonusCardInfo {
    font-weight: $light;
    width: 430px;
}
.dropdown-menu {
    position: static!important;
    --bs-dropdown-border-color: $white;
    margin-top: 13px;
    padding-left: 6px;

}
.cardButton {
    width: 500px;
    position: relative;
    border: none;
    text-align: left;
}
.myFavoriteCollapse{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.favItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
    align-items: center;
        &>img{
            height: 77px;
            width: 98px
      
        }
        p{
            display: block;
        }
        p:nth-child(2){
            margin-left: 20px;
            margin-right: 20px;
        }
        div {
            position: absolute;
            bottom: 0;
            right: 0;
        }
            i {
                font-size: 16px;
                    color: #9fbfd9;
                    &:hover, &:target, &:focus, &:active{
                        color: $black;
                        margin-right: 10px;
                }
            }
}
.favWrapper{
    display: none;
}

#search{
    display: none;
    position: absolute;
    top: 29px;
    right: 7px;
}

iframe {
    width: 1200px !important;
    position: relative;
  
}


// CAROUSEL 

.carousel-indicators{
    width: 750px;
    position: absolute;
    bottom: -330px;
    left: -40px;
    display: flex;
    justify-content: space-between;
    &>button{
        display: block;
        width: 200px!important;
        height: 200px!important;
        background-color: $black;
    }
    button:first-child{
        background: url('../img/catalogItems/item6.png') no-repeat center center;
    }
    button:nth-child(2){
        background: url('../img/catalogItems/item5.png') no-repeat center center;
    }
    button:last-child{
        background: url('../img/catalogItems/item3.png') no-repeat center center;
    }
    
}

.carousel-control-next {
    right: -100px;
}
.carousel-control-next-icon{
    background-image: url('../img/arrowR.svg');
}
.w-100{
    width: auto!important;
}


// profile form
.profWrapper{
    display: none;
}
#formaProfile{
    display: flex;
    flex-wrap: wrap;
   position: relative;
    justify-content: flex-start;

    ul{
        li:first-child {
            margin-bottom: 40px;
            font-weight: $normal;
        }
        li {
            margin-bottom: 50px;
            font-weight: $light;
        }
    }
    &>input:last-child{
        width: -webkit-fill-available;
        background-color: $black;
        height: 40px;
        color: $white;
        position: absolute;
        bottom: 1px;
        left: 29px;
    
    }
}
.profileForm {
    font-family:$inter;
    font-size: $f14;
    line-height: 140%;
  

    input{
        border: none
    }

    
}


// colorsPage
.colorHeader{
    font-size: $f37;
    line-height: 45px;
    margin-top: 70px;
}
.colorWrapper{
    margin-top: 100px;
 
    
    
}
.beautix{
    margin-bottom: 70px!important;
}
.colorButton
{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: $medium;
    line-height: 17px;
    text-transform: uppercase;
    color: #1A1A1A;
    border: none;
    justify-content: center;
    span {
        font-family: $inter;
        font-weight: $light;
        line-height: 140%;
        text-transform: none;
        display: inline-block;
        margin-top: 10px;
    }

}
.gel-lak{
    display: flex;
    justify-content: space-between;

    &>div:first-child{
        width: 70px;
    }

}
.colorExamples {
    display: flex;
    flex-wrap: wrap;
        span{
            display:inline-block;
            width: 40px;
            height: 40px;
            background-color: red;
            margin-right: 20px;
            margin-bottom: 20px;

            &:hover {
                scale: 1.05;
                transition: 1000ms;
            }
        }
}
.beautixGelEx{
    span:nth-child(1) {
        background-color:  #F2C9E0;
    }
    span:nth-child(2) {
        background-color: #EE7AD2;
    }
    span:nth-child(3) {
        background-color: #D99F9F;
    }
    span:nth-child(4) {
        background-color:  #EE7368;
    }
    span:nth-child(5) {
        background-color: #9F446F;
    }
    span:nth-child(6) {
        background-color:  #FD5984;
    }
    span:nth-child(7) {
        background-color: #DD3082;
    }

}
.beautixLakEx{
    span:nth-child(1) {
        background-color:  #30573D;
    }
    span:nth-child(2) {
        background-color:  #B73E79;
    }
    span:nth-child(3) {
        background-color: #3D336C;
    }
}

.lintoGelEx{
    span:nth-child(1) {
        background-color:  #f0aad1;
    }
    span:nth-child(2) {
        background-color: #8dee7a;
    }
    span:nth-child(3) {
        background-color: #d9d09f;
    }
    span:nth-child(4) {
        background-color:  #f13322;
    }
    span:nth-child(5) {
        background-color: #641b3d;
    }
    span:nth-child(6) {
        background-color:  #a83c59;
    }
   

}
.lintoLakEx{
    span:nth-child(1) {
        background-color:  #a0e235;
    }
    span:nth-child(2) {
        background-color:  #61239b;
    }

}

.mioGelEx{
    span:nth-child(1) {
        background-color:  #f0aad1;
    }
    span:nth-child(2) {
        background-color: #8dee7a;
    }
    span:nth-child(3) {
        background-color: #d9d09f;
    }
    span:nth-child(4) {
        background-color:  #f13322;
    }
    span:nth-child(5) {
        background-color: #641b3d;
    }
    span:nth-child(6) {
        background-color:  #a83c59;
    }
    span:nth-child(7) {
        background-color: #8dee7a;
    }
    span:nth-child(8) {
        background-color: #9fbfd9;
    }
    span:nth-child(9) {
        background-color:  #f12289;
    }
    span:nth-child(10) {
        background-color: #641b1b;
    }
    span:nth-child(11) {
        background-color:  #593ca8;
    }
   

}
.mioLakEx{
    span:nth-child(1) {
        background-color:  #a0e235;
    }
    span:nth-child(2) {
        background-color:  #61239b;
    }
    span:nth-child(3) {
        background-color: #d9d09f;
    }
    span:nth-child(4) {
        background-color:  #f13322;
    }
    span:nth-child(5) {
        background-color: #641b3d;
    }

}

.oniqGelEx{
    span:nth-child(1) {
        background-color:  #f0aacbc5;
    }
    span:nth-child(2) {
        background-color: #7ad7ee;
    }
    span:nth-child(3) {
        background-color: #ecd23d;
    }

   

}
.oniqLakEx{
    span:nth-child(1) {
        background-color:  #8035e2;
    }
    span:nth-child(2) {
        background-color:  #239b47;
    }

}
@import 'media.scss';