$black:#1A1A1A;
$Lblack:#111111;
$red:#F53B49;
$grey:#384255;
$white: #ffffff;

//fonts

$inter: "Inter", 'sans-serif';
$montserrat: "Montserrat", 'sans-serif';
$light:300;
$normal:400;
$medium:500;
$semi-bold:600;
$bold: 700;
$xBold:800;
$bolder:900;

$f14: 14px;
$f16: 16px;
$f23: 23px;
$f60: 60px;
$f37: 37px;


