.header{
    height: 50px;
    background-color: rgb(168, 168, 250);
    text-align:center;
    vertical-align:middle;
}

.footer{
    height: 50px;
    background-color: rgb(168, 168, 250);
    text-align: center;
    clear:both;
    vertical-align:middle;
}

.content{
    padding: 10px;
    background-image: url(http://fe.it-academy.by/Sites/0040523/home5/ball.png);
    background-position: right top;
    background-repeat: repeat-y;
    margin-left: 150px;
    
}
.menu{
    width: 150px;
    float:left;
    background-color: rgb(207, 210, 30);

}
.background{
    background-image: url("line.png");
    background-repeat: repeat-y;
    background-position: left top;
    background-size: 150px 1px;
    
}

h2{
    text-align: center;
}
img{
    float:left;
}
