
a {
    text-decoration: none;
    
}
a:visited {
    text-decoration: none;
}
.body {
    background-color: aqua;
}
.container {
    width: 1440px;
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}


div {border: 1px solid #00000000}

.menu{
    flex-basis: 225px;
    flex-shrink: 4;
    background-color:#fff;
    position: relative;
}

.banner{
    background-color: rgb(255, 255, 255);
    flex-basis: 440px;
    }

.content {
    display: flex;
    z-index: 1;
    position: relative;
    flex-basis: 715px;
    flex-direction: column;
   
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.top div {
    height: 24px;
    background-image: url(../img/sprite2.png);
    background-position: -1% 44%;
    background-size: 21%;
    background-repeat: no-repeat;
    padding-left: 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #6259E8;
}
/*
.top div:first-child{
    float:left;
    background-image: url(../img/sprite2.png);
    background-position: 2% 93%;
    width: 24px;
    height: 24px;
    background-size: 252%;
}
.top div:nth-child(2){
    width: 105px;
height: 23px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #6259E8;
float:left;
margin-left: 6px;

}
*/

.menu div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu button {
        width: 141px;
        height: 48px;
        background-color: #6058E9;
        color: #fff;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        border-radius: 7px;
        border: none;
        /* margin-left: 40px; */
        /* margin-right: 40px; */
        display: flex;
        margin-top: 56.5px;
        justify-content: center;
        align-content: center;
        align-items: center;
}

.upload{
    color: #fff;
    background-color: #6058E9;
    width: 141px;
    height: 49px;

font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
border-radius: 7px;


margin-left: 40px;
margin-right: 40px;
margin-top: 56.5px;
}
.list i {
    color: #6058E9;
   font-size: 20px;
    margin-right: 10px;
}
.list li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 46px;
}
.list ul{
    display: flex;
    flex-direction: column;
    
    background-color: #fff;
    margin-left: 40px;
}
.list ul li{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #0B344B;
    opacity: 0.4;
}
.list ul li:hover{
    color: #6058E9;
    opacity: 1;
}
.list ul li:focus{
    color: #6058E9;
    opacity: 1;
}

.list ul li:first-child{
  display: inline-block;
  color: #6058E9;
  background-image: url(../img/sprite2.png);
  background-position: 0% 17.5%;
  background-size: 19%;
  background-repeat: no-repeat;
  padding-left: 33px;
  height: 25px;
}
.list ul li:nth-child(6){
    margin-top: 200px;
}


  .topheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
  }
  .topheader div:first-child{
   
font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;

color: #0B344B;
  }
  .topheader div span{
    
    display: block;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top: 7px;
    color: #0B344B;
    opacity: 0.4;
}

.topheader i {
    font-size: 15px;
    color: #0B344B;
    opacity: 0.3;
}
.topheader div:last-child{
    display: flex;
    align-items: center;
}
.topheader input {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: none;
    margin-left: 8px;
    color: #0B344B;
    width: 290px;
    opacity: 0.44;
}
/* !!!!!!!!FOLDER!!!!!!!!!*/
.folder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-left: 24px;
}

.folder div{
    width: 216px;
}

.documents, .photo, .songs{
    position: relative;
    margin-right: 17px;
}
.folder .documents{
    margin-right: 0px;
}
.photo i:first-child {
    position: absolute;
    font-size: 21px;
    top: 24px;
    left: 15px;
    color: #6058E9;
}
.songs i:first-child{
    position: absolute;
    font-size: 21px;
    top: 24px;
    left: 15px;
    color: #FF6E91;
}
.documents i:first-child {
    position: absolute;
    font-size: 21px;
    top: 24px;
    left: 15px;
    color: #5BCDF8;
}
.documents span:first-child,.songs span:first-child, .photo span:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo i:last-child, .songs i:last-child, .documents i:last-child {
    position: absolute;
    right: 24px;
    rotate: 90deg;
    top: 25px;
    opacity: 0.3;
}

.documents span:nth-child(2),.photo span:nth-child(2), .songs span:nth-child(2) {
    display: block;
    margin-top: 96px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #0B344B;
}
.photo span:nth-child(3){
    display: block;
    width: 174px;
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(to right,
    #6058E9 70%, #fff 25% 50%) ;
    border: 0.5px solid black;

    margin-top: 15px;
}

.documents span:nth-child(4), .photo span:nth-child(4), .songs span:nth-child(4)  {
    display: inline-block;
    margin-top: 16px;
    
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;


color: #0B344B;

opacity: 0.4;
}

.documents span:nth-child(5), .photo span:nth-child(5), .songs span:nth-child(5) {
    padding-left: 79px;
    
font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

text-align: right;

color: #0B344B;
}


.songs span:nth-child(3){
    display: block;
    width: 174px;
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(to right,
    #FB7394 90%, #fff 25% 50%) ;
    border: 0.5px solid black;

    margin-top: 15px;
}


.documents span:nth-child(3){
    display: block;
    width: 174px;
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(to right,
    #5BCDF8 26%, #fff 25% 50%) ;
    border: 0.5px solid black;

    margin-top: 15px;
}

.folder  span:first-child {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #0B344B;
}
.folderHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.shareHeader span:first-child, .filesHeader span:first-child, .accessHeader span:first-child, .folderHeader span:first-child{

font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;

color: #0B344B;
}
.accessHeader span:last-child, .folderHeader span:last-child{

    padding-right: 20px;
    display: block;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;  
            color: #0B344B; 
            opacity: 0.6;
            background-image: url(../img/OpenList.svg);
            background-repeat: no-repeat;
            background-position: right center;
}

.accessHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}
.access{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.access div span{
    display: flex;
    align-items: center;
    justify-content: center;
            margin-top: 104px;
            padding-top: 14px;
   text-align: center;
   background-color: #fff;
   height: 27px; 
   width: 164px;

            font-family: 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
}
.access i {
    font-size: 25px;
    margin-right: 11px;
}
.fa-image {
    color: #6058E9;
}
.fa-circle-play {
 color: #FF6E91;
}
.fa-file {
    color: #5BCDF8;
}
.fa-folder {
color: #6058E9;
}

.access div:nth-child(1){
    background-image: url('../img/acces1.svg');
    background-repeat: no-repeat;
}
.access div:nth-child(2){
    background-image: url('../img/acces2.svg');
    background-repeat: no-repeat;
}
.access div:nth-child(3){
    background-image: url('../img/acces3.svg');
    background-repeat: no-repeat;
}
.access div:nth-child(4){
    background-image: url('../img/acces4.svg');
    background-repeat: no-repeat;
    margin: 0px;
}
.access div:hover{
    border: 1px solid #ff00005e;
    border-radius: 10px;
}

/* !!!CONTENT FILES BLOCK!!! */
.filesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}
.filesHeader span:last-child{
    display: block;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;  
            color: #0B344B; 
            opacity: 0.6;
}
.filesOverView{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.filesOverView ul{

margin-right: 80px;
}

.filesOverView ul li{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #0B344B;



margin-top: 33px;
}

.filesOverView ul li:nth-child(2){
    margin-top: 44px;
}
.filesOverView ul:first-child li:nth-child(2),
.filesOverView ul:first-child li:nth-child(3),
.filesOverView ul:first-child li:nth-child(4){
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    opacity: 1;
color: #0B344B;

}
.filesOverView ul:first-child li{
    display: flex;
    align-items: center;
}
.filesOverView ul:first-child span {

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
color: #FFFFFF;
margin-right: 16px;
}
.filesOverView ul:first-child li:nth-child(2) span{
    width: 32px;
    height: 32px;
    background-color: #5BCDF8;
    border-radius: 7px;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    }
.filesOverView ul:first-child li:nth-child(3) span{
    width: 32px;
    height: 32px;
    background-color: #6058E9;;
    border-radius: 7px;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.filesOverView ul:first-child li:nth-child(4) span{
    width: 32px;
    height: 32px;
    background-color: #5BCDF8;
    border-radius: 7px;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.filesOverView ul:first-child li:first-child{
    margin-top: 33px;
    margin-bottom: 37px;
}
.filesOverView ul:first-child li:first-child ~ li{
    margin-top: 16px;
    
}

/* DIAGRAMM */
.unit {
    fill: none;
    stroke-width: 17px;
  }
  
  .unit:nth-child(1) {
    stroke: #6058E9;
    stroke-dasharray: 15.2 100;
  }
  
  .unit:nth-child(2) {
    stroke: #FB7394;
    stroke-dasharray: 21.28 100;
    stroke-dashoffset: -79;
    }
  
  .unit:nth-child(3) {
    stroke: #5BCDF8;
    stroke-dasharray: 51.4 100;
    stroke-dashoffset: -28;
  }
    .canvas {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        margin: 27px 119px 0px 119px;
      }
.bannerHeader div:first-child {
    display: flex;
    align-items: center;
}
.bannerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 40px 0px 40px;
   
}   
.bannerHeader span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerHeader span:first-of-type{
    margin-right: 8px;
    height: 40px;
    width: 40px;
    background-image: url(../img/pf.svg);
    background-repeat: no-repeat;
}
.bannerHeader div:last-child span{
    height: 40px;
    width: 40px;
    background-image: url(../img/sprite2.png);
    background-repeat: no-repeat;
    background-position: 3px -144px;
    background-size: 104%;

}
.bannerHeader span:nth-of-type(2){
    font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #0B344B;
margin-left: 8px;
}

.bannerHeader span:nth-child(3){
        background-image: url(../img/OpenList.svg);
        background-repeat: no-repeat;
        background-position: right center;
        height: 11px;
        width: 17px;
        opacity: 0.3;
        margin-left: 7px;
        margin-top: -1px;
}

.storageInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 60px 0px 60px;

}
.storageInfo div:first-child{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #0B344B;
}
.storageInfo div span{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #0B344B;
    opacity: 0.5;
    margin-top: 12px;
}
.storageInfo i {
    opacity: 0.3;

}

.diagram {
    margin: 27px 119px 0px 119px;
    height: 202px;
    width: 202px;
    background-color: #fff;
}

.diagramLegend{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.diagramLegend ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
}
.diagramLegend li {
    position: relative;
    display: block;
    margin-right: 40px;
    padding-left: 12px;
}

.files li:first-child::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #675AE7;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -2px;
}
.files li:nth-child(2)::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color:#FF6E91;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -2px;
}
.files li:nth-child(3)::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #5BCDF8;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -2px;
}

.up_do{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 33px
}
.up_do div {
    display: flex;
   
}
.upl{
font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #0B344B;
}
.upl i {
    background-color: #6058E9;
    font-weight: 900;
     color: white;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
    rotate: 270deg;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 20px;
}
.upl > div, .downl >div {
    display: flex;
    flex-direction: column;
}
.downl div:last-child, .upl div:last-child{
    margin-left: 18px;
}
.downl {
    
    margin-left: 36px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #0B344B;
}
.downl i {
    background-color:#FF6E91;;
    font-weight: 900;
     color: white;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
    rotate: 90deg;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 20px;
}

.up_do_span{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #0B344B;
margin-top: 7px;
opacity: 0.5;
}
.up_do button{
    border: none;
}
.up_do button i {
    background-color: #6058E9;
    font-weight: 900;
     color: white;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 6px;
}



.shareHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
margin:33px 40px 0px 40px;
}

.shareHeader span:last-child{
    display: block;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;  
            color: #0B344B; 
            opacity: 0.6;
}
.MediaShare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 33px 40px 0px 65px;
    padding-left: 49px;
    background-image: url(../img/sprite2.png);
    background-position: -1px 7px;
    background-size: 15%;
    background-repeat: no-repeat;
}
.DocumentShare {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 33px 40px 0px 40px;
}
.DocumentShare > i {
    margin-left: 34px;
    color: #FF6E91;
    font-size: 28px;
    margin-right: 18px;
}
.DocumentShare div:last-child{
    margin-left: 186px;
}
.MediaShare div:first-child, .DocumentShare div:first-of-type{
    display: flex;
    flex-direction: column;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #0B344B;

}
.MediaShare div span, .DocumentShare  div span{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #0B344B;
    opacity: 0.5;
}


.premium {
    margin: 29px 40px 0px 40px;
    padding-left: 24px  ;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.premium div {

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #25396F;

}
.premium button{
    margin-right: 20px;

    height: 52px;
    width: 147px;
    background-color: #6058E9;
    border-radius: 10px ;
    padding:auto;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

color: #FFFFFF;

border:none
}

.premium div span {
    color: #6A4BFF;
}

.menuHide {
    color: black;
    writing-mode: vertical-lr;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;
    z-index: 4;
    position: fixed;
    left: -2px;
    background-color: #0000007a;
    width: 20px;
    height: 90px;
    top: 50%;
    text-align: center;
}
.bannerHide {
    color: black;
    writing-mode: vertical-rl;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display:none;
    z-index: 6;
    position: fixed;
   right: 1%;
    background-color:#0000007a;
    height: 90px;
    width: 20px;
    top: 50%;
    text-align: center;
}
.button1Move {
    left: 189px;
    z-index: 5;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 643px;
    position: fixed;
    width: 12px;
    height: 90vh;
    top: 0;
}
.button2Move{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 429px;
    z-index: 6;
    height: 830px;
    height: 90vh;
    top: 0;
    width: 12px;
}


@media all and (max-width:1000px) {
    .bannerHide, .menuHide {
        display: block;
        background-color: #858585;
    }
    .content {
        width: 98vw;
        flex-basis: 0;
    }
    .menu {
         display: none;
         flex-basis: 225px;
         flex-shrink: 4;
         background-color: #fff;
         position: fixed;
         z-index: 4;
         width: 200px;
         overflow: scroll;
         height: 90vh;
    }
    .access * {
        scale: 1.07;
    }
    .folder * {
        scale: 1.1
    }
    .container{
      width: auto;
        margin: 0 auto;
        display: block;
        
    }
    .banner {
        display: none;
        position: fixed;
        right: 1%;
        top: 0;
        z-index: 5;
        overflow: scroll;
        height: 90vh;
        width: 59vw;
    }
    .filesHeader span:last-child, .accessHeader span:last-child, .folderHeader span:last-child{
        margin-right: 12px;
    }
    .list ul{
        margin-left: 5px;

    }
    .list ul li:nth-child(6){
        margin-top: 50px;
    }
    .button2Move {
        right: 59vw;
    }
}

.hide {
    display: block;
    border: 1px solid black;
    }


.marginOut {margin-left: 0;}
.marginrightOut {margin-right: 0;}

@media all and (max-width: 720px) {
    .banner{
        width: 59vw;
    }
    .folder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        padding-left: 24px;
    }
    .documents {
        align-self: flex-end;
    }
    .topheader input {
        width: 133px;
    }
    .access {
        flex-wrap: wrap;
    }
    .access div:nth-child(1),.access div:nth-child(2){
        margin-bottom: 10px;
    }
    .filesOverView ul{
        margin-right: 0;
    }
    .bannerHeader{
        margin-right: 5px;
        margin-left: 5px;
    }
    .storageInfo{
        margin-left: 22px;
        margin-right: 22px;    
    }
    .canvas {
        justify-content: center;
        display: flex;
        max-width: 800px;
        margin: 27px 36px 0px 36px;
    }
    .diagramLegend ul{
        flex-wrap: wrap;
    }
    .up_do button{
        display: none;
    }
    .shareHeader {
        margin-left: 6px;
        margin-right: 6px;
    }
    .premium, .DocumentShare {
        margin-left: 6px;
        margin-right: 6px;
    }
    .MediaShare {
        margin-left: 37px;
        background-position: -4px 10px;
        background-size: 20%;
    }
    .DocumentShare div:last-child {
        margin-left: 82px;
    }
    .button2Move{
        right: 58vw;
    }
    @media all and (max-width:400px) {
        .filesOverView ul li{
            font-size: 10px;
        }
    }
}
